<div class ="row">
        <ul class="thumbnails">
    <a href="#" class="thumbnail">
    <img src="https://scontent-gru1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11665375_656407304460621_6639553809974595610_n.jpg?oh=323650f2b4e4ddfcbc7d28b11be602b3&oe=561E9248" alt="">
    </a>
    </ul>
</div>
