

<h1>Listing Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Department</th>
      <th>Brand</th>
      <th>Aliquot</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td><%= product.department %></td>
        <td><%= product.brand %></td>
        <td><%= product.aliquot %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product, :class=>"btn btn-info "%></td>
        <td><%= link_to 'Edit', edit_product_path(product), :class=>"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path,:class=>"btn btn-success" %></ %>
