<!DOCTYPE html>
<html>
<head>
  <title>CadastroOO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Usuário <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <% if user_signed_in? %>
      			Logged in as <strong><%= current_user.email %></strong><br>
      			<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
		<a href="/products/">Products</a>
    		<% else %>
     			<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> </li>
 <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>	
	<% end %>
          </ul>
        </li>
      </ul>
    </div>
</nav> 
<div class="container">
  <div class="row">
    <div class="col-xs-12"> 
      <p class="alert"><%= alert %></p>
      <%= yield %> 
    </div>
   </div>   
</div>


</body>
</html>
